<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Barotrauma_Circuit_Resolver.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Barotrauma_Circuit_Resolver.Settings>
            <setting name="NewSub" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveGraph" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RetainParallel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InvertMemory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PickingTimeSort" serializeAs="String">
                <value>False</value>
            </setting>
        </Barotrauma_Circuit_Resolver.Settings>
    </userSettings>
</configuration>